PORT=3001
POSTGRES_PORT=5432

NODE_ENV=development

POSTGRES_URL_API=postgres://admin:password@postgres:5432/face-recognition
POSTGRES_URL=postgres://admin:password@localhost:5432/face-recognition

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=face-recognition
POSTGRES_HOST=postgres

CLARIFAI_API_KEY=Your clarifai api key